{% extends 'base.html' %}

{% load static %}

{% block page_title %}Home{% endblock %}

{% block content %}
<div class="jumbotron jumbotron-fluid py-4 mt-4 mb-4">
  <div class="container">
    <h1 class="display-4 text-center">Welcome to BioSpot!</h1>
    <p class="lead text-center">A great selection of organic and natural foods, local foods and natural cosmetics!
    </p>
  </div>
</div>

<div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-pause="hover" data-interval="3000">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                        <img class="d-block w-100 carousel-image" src="{% static 'media/images/shokolad.jpg' %}" alt="First slide">
                        </div>
                        <div class="carousel-item">
                        <img class="d-block w-100 carousel-image" src="{% static 'media/images/shampoan.jpg' %}" alt="Second slide">
                        </div>
                        <div class="carousel-item">
                        <img class="d-block w-100 carousel-image" src="{%  static 'media/images/vafli.jpg' %}" alt="Third slide">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
    
<h4 class="text-center mt-5">Check out our promotions!</h4>
<div class="row">
    <div class="col-md-6 col-lg-4">
        <div class="card my-4 mx-2" style=" height: 177px;">
            <div class="row no-gutters">
                <div class="col-md-6">
                    <img src="{% static 'media/images/shop.jpg' %}" class="card-img" style=" height: 175px;" alt="Bioshop store">
                </div>
                <div class="col-md-6">
                    <div class="card-body" style=" height: 175px;">
                        <h5 class="card-title">Future ambassador</h5>
                        <p class="card-text">Spend over <span class="fa fa-eur" aria-hidden="true"></span>30 in the store or online and get a free canvas bag with our logo.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-4">
        <div class="card my-4 mx-2" style=" height: 175px;">
            <div class="row no-gutters">
                <div class="col-md-6">
                    <img src="{% static 'media/images/present.jpg' %}" class="card-img" style=" height: 175px;" alt="present">
                </div>
                <div class="col-md-6">
                    <div class="card-body" style=" height: 175px;">
                        <h5 class="card-title">Dedicated customer</h5>
                        <p class="card-text">Spend over <span class="fa fa-eur" aria-hidden="true"></span>100 in the store or online and get 7% discount for a whole year.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 offset-md-3 col-lg-4 offset-lg-0">
        <div class="card my-4 mx-2" style=" height: 175px;">
            <div class="row no-gutters">
                <div class="col-md-6">
                    <img src="{% static 'media/images/environ.jpg' %}" class="card-img" style=" height: 175px;" alt="paper bag">
                </div>
                <div class="col-md-6">
                    <div class="card-body" style=" height: 175px;">
                        <h5 class="card-title">Enviromental warrior</h5>
                        <p class="card-text">Bring your own bag for groceries and get 5% discount on your purchase.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}