{% extends 'base.html' %}

{% block page_title %}Home{% endblock %}

{% block content %}
<div class="container-fluid callout-container">
    <div class="opaque-overlay">&nbsp;</div>
        <div class="row">
            <div class="col-12">
                <section class="callout jumbotron text-center">
                    <h1>Welcome to BioSpot Burgas!</h1>
                    <h4>Lorem ipsum dolor sit amet.</h4>
                </section>
            </div>
        </div>
    </div>
</div>
{% endblock %}