/* Navbar */
.navbar{
    background-image: none;
    background-color: #677138; 
    border: none;
    margin: 0;
}

/* Callout container home page */
.callout-container {
    height: 100vh;

    background-image: url('');
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

    padding: 0;
}

.container-fluid {
    padding-bottom: 15px;
    padding-top: 15px;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

.jumbotron {
    background-color: transparent;
}

.jumbotron h4 {
    margin-bottom: 25px;
}

.custom-container {
    margin-top: 15px;
}

/* Buttons */
.btn-custom {
    background-color: #99b309;
    border-radius: 50px;
    margin: 5px;
}

.link-custom {
    color:rgb(129, 106, 84);
}

.noindent {
    margin: 0;
}

.center-form {
    margin: 0 auto;
    max-width: 60%;
    padding: 0;
}

@media(min-width: 992px) {

    .center-form {
        padding-top: 30px;
        min-height: 240px;
        margin: 0 auto;
        max-width: 50%;
    }
    .custom-container{
        width:50%;
    }
}