/* Navbar */
.navbar{
    background-image: none;
    background-color: #677138; 
    border: none;
    margin: 0;
    height: 75px;
}

.nav,
#navbar{
    min-height: 75px;
}

#navbar ul li a:hover{
    background-color: #677138;
    color: #8f8f8f;
}
/* Callout container home page */
.callout-container {
    height: 100vh;

    background-image: url('');
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

    padding: 0;
}

.container-fluid {
    padding-bottom: 15px;
    padding-top: 15px;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

.jumbotron {
    background-color: transparent;
}

.jumbotron h4 {
    margin-bottom: 25px;
}

.custom-container {
    margin-top: 15px;
}

/* Buttons */
.btn-custom {
    background: #99b309;
    border-radius: 50px;
    margin: 5px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.btn-custom:hover{
    background: #677138;
}

.link-custom {
    color:rgb(129, 106, 84);
}

.noindent {
    margin: 0;
}

.center-form {
    margin: 0 auto;
    max-width: 60%;
    padding: 0;
}

@media(min-width: 992px) {

    .center-form {
        padding-top: 30px;
        margin: 0 auto;
        max-width: 50%;
    }
    .custom-container{
        width:50%;
    }
}

.display-inline-block{
    display: inline-block;
}

/* Footer */
footer {
    background-color: #677138;
    opacity: .85;
    margin: 0;
    position: relative;
    bottom: 0;
    right: 0;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color:white;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: rgb(129, 106, 84);
}

.footer-links{
    color: white;
    font-size: 15px;
}

.footer-links:hover{
    color: #8f8f8f;
    text-decoration: none;
}

.color-grey{
    color: #444;
}

.centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-size{
    height: 50px;
}