{% extends "base.html" %}

{% load bootstrap_tags %}

{% block content %}
<div class="container custom-container">
    <form method="post" action="{% url 'login' %}?next={{ next }}" class="accountform">
        <fieldset class="form-group">
            <legend>Login</legend>
            {% csrf_token %}
            {{ user_form | as_bootstrap }}
                         
            <button type="submit" class="btn btn-custom">Login</button>

            <p><a href="{% url 'password_reset' %}" class="">Forgot my password</a></p>
        </fieldset>
    </form>
</div>
{% endblock %}