{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="#" />
    <title>{% block page_title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/cerulean/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.3.1/css/hover-min.css" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

    <nav class="navbar navbar-masthead navbar-default noindent">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'homepage' %}">
                <img src="{% static 'media/images/logo.png' %}" class="logo-size">
                </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right  centered">
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'profile' %}" class=""><i class="fa fa-user"></i> Profile</a></li>
                        <li><a href="{% url 'edit_profile' user.id %}" class=""><i class="fa fa-pencil-square-o"></i> Edit profile</a></li>
                        <li><a href="{% url 'logout' %}" class=""><i class="fa fa-sign-out"></i> Log Out</a></li>
                    {%  else %}
                        <li><a href="{% url 'register' %}" class=""><i class="fa fa-user-plus"></i> Register</a></li>
                        <li><a href="{% url 'login' %}" class=""><i class="fa fa-sign-in"></i> Log In</a></li>
                    {% endif %}
                    <li>
                        <a href="{% url 'view_cart' %}">
                            <i class="fa fa-shipping-cart"></i> Cart
                            {% if product_count > 0 %}
                            <label class="badge badge-warning">{{ product_count }}</label>
                            {% endif %}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    {% if messages %}
        <div class="alert alert-success">
            <div class="messages">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        </div>
    {% endif %}
    <div class="container">
        {% block content %} {% endblock %}
    </div>
    </div>
    <footer class="container-fluid">
        <div class="row">
            <div class="col-sm-3">

            </div>
            <div class="col-sm-3">
            </div>
            <div class="col-sm-3 display-inline-block text-center ">
                <h4 class="centered color-grey">Jump to:</h4>
                <a href="{% url 'homepage' %}" class="text-decoration-none footer-links">Home</a> <br>
                <a href="{% url 'products' %}" class="text-decoration-none footer-links">Products</a><br>
                <a href="#" class="text-decoration-none footer-links">Blog</a><br>
                <a href="#" class="text-decoration-none footer-links">Recipes</a><br>
                <a href="{% url 'contacts' %}" class="text-decoration-none footer-links">Contacts</a>
            </div>
            <div class="col-sm-3 display-inline-block">
                <h5 class="centered noindent color-grey">Already a member?</h5>
                <div class="row ">
                    <div class=" centered ">
                        <a href="{% url 'login' %}" class="footer-links">Log In</a>
                    </div>
                </div>
                <h5 class="centered noindent color-grey">Not a member?</h5>
                <div class="row">
                    <div class="centered">
                        <a href="{% url 'register' %}" class="footer-links">Create an account</a>
                    </div>
                </div>
                <h5 class="centered color-grey">Follow us on:</h5>
                <ul class="list-inline social-links centered">
                    <li class="list-inline-item">
                        <a href="https://www.facebook.com" target="_blank">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                            <span class="sr-only">Facebook</span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.instagram.com" target="_blank">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                            <span class="sr-only">Instagram</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
</body>
</html>
